/* Позиционирование */

/*Блочная модель*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: PT Sans, Arial, sans-serif;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-size: 1280px;
}

.welcome-to-sedona {
  display: flex;
  background:
  url("../img/svg-sedona/intro-mask.svg") 0% 101%,
  url("../img/background-photo.jpg") 0% 28%;
  background-repeat: no-repeat;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

/* Оформление */

.main-footer-link,
.hotels-name,
.hotels-button,
.sorting-price,
.footer-contacts,
.nav-item a{
  text-decoration: none;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotels-filter-fieldset {
  border: none;
}

.nav-list,
.advantages-list,
.sub-advantages-list,
.footer-social-list,
.hotels-filter-list,
.sorting-list,
.hotels-list {
  list-style: none;
}

.button-show {
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 2px;
}

.button-show:hover {
  color: #000000;
  background-color: #ffffff;
}

.button-details {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-details:hover {
  background-color: #669ec0;
}

.button-details:active {
  color: rgba(225, 225, 225, 0.3);
  background-color: #5496bd;
}

.button-reservation {
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.button-reservation:hover {
  background-color: #604e43;
}

.button-reservation:active {
  color: rgba(225, 225, 225, 0.3);
  background-color: #503e33;
}
.hotels-rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

.preview {
  width: 568px;
  height: 86px;
  background-color: #766357;
  border: none;
}

.preview:hover {
  background-color: #604e43;
}

.preview:active {
  color: rgba(225, 225, 225, 0.3);
  background-color: #766357;
}

.search {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  margin-top: 54px;
  padding: 0;
}

.search:hover {
  background-color: #669ec0;
}

.search:active {
  color: rgba(225, 225, 225, 0.3);
  background-color: #5496bd;
}

.search-hotels-input {
  width: 346px;
  height: 38px;
  background-color: f2f2f2;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.search-hotels-input:hover {
  background-color: #ebebeb;
}

.search-hotels-input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.search-hotels-input:-ms-input-placeholder {
  color: #000000;
}

.search-hotels-input::-ms-input-placeholder {
  color: #000000;
}

.search-hotels-input::-webkit-input-placeholder {
  color: #000000;
}
.search-hotels-input:-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.search-hotels-input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

/* Типографика */

.slogan,
.preview,
.search,
.sorting-result,
.hotels-name,
.footer-contacts {
font-size: 21px;
font-weight: 700;
line-height: 26px;
text-align: center;
color: #000000;
}

.hotels-name:hover {
  color: #81b3d2;
}

.hotels-name:focus {
  color: rgba(0, 0, 0, 0.3);
}

.preview,
.search {
  color: #ffffff;
}

.sorting-result,
.hotels-name {
  text-align: left;
}

.advantages,
.advantages-text,
.advantages-text.white,
.sub-advantages-text,
.hotels-text,
.hotels-filter-item,
.button-show,
.white,
.range-label-min,
.range-label-max,
.range-number-min,
.range-number-max,
.hotels-button,
.hotels-rating,
.figure.white,
.figure {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.hotels-text,
.hotels-filter-item,
.button-show,
.hotels-button {
  text-align: left;
}

.hotels-button {
  font-weight: 700;
}

.advantages,
.advantages-text,
.sub-advantages-text,
.hotels-text,
.figure {
  color: #333333;
}

.hotels-rating {
  color: #666666;
}

.nav-item a,
.advantages,
.search-hotels-label,
.search-hotels-number,
.footer-copyright {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.nav-item a:hover {
  color: #81b3d2;
}

.nav-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item-current a{
  color: #766357;
}

.nav-item a,
.search-hotels-number {
  text-align: center;
}

.advantages,
.footer-copyright {
  font-weight: 400;
  text-align: center;
}

.advantages {
  color: #333333;
}

.advantages-title,
.sub-advantages-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.advantages-title.white {
  color: #ffffff;
}

.sorting-title,
.sorting-list-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.sorting-price {
  color: #81b3d2;
}

.sorting-type,
.sorting-rating {
  color: rgba(0, 0, 0, 0.3);
  text-decoration-style: dotted;
}

.sorting-type:hover,
.sorting-rating:hover {
  color: #81b3d2;
  text-decoration-style: dotted;
}

.sorting-type:active,
.sorting-rating:active {
  color: #000000;
  text-decoration: none;
}

.interest {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 0;
}

.offer {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.hotels-filter-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

/* Сетки */

.index-page,
.inner-page {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.index-page {
  position: relative;
}

.main-navigation {
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: center;
}

.nav-list {
  display: flex;
  width: 1056px;
  margin: 0;
  padding: 0;
}

.nav-item {
  width: 239px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  width: 140px;
  height: 71px;
  margin: auto;
  position: absolute;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 216px;
}

.slogan {
  margin-top: 61px;
  margin-bottom: 20px;
  margin-left: 380px;
  margin-right: 380px;
  width: 440px;
}

.advantages {
  width: 489px;
  margin-top: 10px;
  margin-bottom: 56px;
  margin-left: 355px;
  margin-right: 356px;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

.bg-blue {
  width: 400px;
  background-color: #81b3d2;
  margin: 0;
}

.row {
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
}

.bg-gray {
  width: 400px;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
}

.pic-sedona {
  display: block;
  width: 800px;
  font-size: 0;
}

.pic-bridge {
  display: block;
  width: 800px;
  height: 100%;
  font-size: 0;
}

.sub-advantages-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 332px;
  }

.block-over-map {
  width: 1200px;
}

.block-over-form {
  width: 434px;
  min-height: 96px;
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: 383px;
  margin-right: 383px;
  padding-top: 28.5px;
}

.preview {
  position: relative;
  width: 568px;
  margin: 0 auto;
  margin-left: 316px;
  margin-right: 316px;
}

.search-hotels {
  position: absolute;
  width: 568px;
  margin-left: 316px;
  margin-right: 316px;
  background: #ffffff;
}

.main-footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 120px;
  position: absolute;
  bottom: 0;
  z-index: 100;
  opacity: 0.9;
}

.contacts,
.footer-social-list,
.footer-copyright {
  flex-grow: 1;
  width: 400px;
  margin: 0;
}


/*Сетки для inner.html*/

.hotels-filter-section {
  background: url(../img/filter-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hotels-filter {
  display: flex;
  width: 1200px;
  outline: 2px solid red;
}

.hotels-filter-fieldset {
  outline: 2px solid orange;
}

.hotels-filter-list {
  padding: 0;
}

.sorting {
  display: flex;
  width: 1200px;
  min-height: 86px;
  justify-content: space-between;
  align-items: baseline;
  outline: 2px solid lightgreen;
  background-color: #ffffff;
}

.sorting-result,
.sorting-title,
.sorting-list {
  outline: 2px solid red;
}

.sorting-list {
  display: flex;
  width: 1000px;
  padding: 0;
  justify-content: space-between;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  outline: 2px solid violet;
}

.hotels-item {
  display: flex;
  align-items: center;
  outline: 2px solid darkkhaki;
}

.hotels-info {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  outline: 2px solid gold;
  padding: 0;
}

.hotels-name h3{
   outline: 2px solid darkcyan;
   padding: 0;
   margin: 0;
}

.hotels-rating-right {
  display: flex;
  flex-direction: column;
  outline: 2px solid tomato;
}

.type {
  outline: 2px solid black;
}

.price {
  outline: 2px solid red;
}

/*Микросетки*/

.nav-item:nth-last-child(2) {
  margin-left: 100px;
}
.nav-item:last-child,
.nav-item:nth-last-child(2) {
  text-align: right;
}

.welcome {
  width: 459px;
  height: 353px;
  margin-left: 370px;
  margin-right: 371px;
  margin-top: 76px;
  margin-bottom: 79px;
}

/*Блок преимуществ*/

.figure,
.figure.white {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 23px;
  padding: 0;
}

.advantages-title,
.advantages-title.white {
  margin-top: 0;
  margin-bottom: 23px;
  padding-left: 60px;
  padding-right: 60px;
}

.advantages-text,
.advantages-text.white {
  margin: 0;
  padding: 0;
}

.bg-blue,
.bg-gray {
  padding: 50px 60px 60px 60px;
}

.bridge {
  padding: 50px 48px 60px 48px;
}

/*Подсписок с иконками*/

.sub-advantages-item {
  width: 400px;
  position: relative;
  padding: 140px 50px 70px 50px;
}

.sub-advantages-item .home::before {
  content: "";

  position: absolute;
  background-image: url(../img/svg-sedona/icon-1.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: 60px;
  left: 162px;
}

.sub-advantages-item .food::before {
  content: "";

  position: absolute;
  background-image: url(../img/svg-sedona/icon-3.svg);
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  top: 60px;
  left: 163px;
}

.sub-advantages-item .souvenirs::before {
  content: "";

  position: absolute;
  background-image: url(../img/svg-sedona/icon-2.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  top: 60px;
  left: 168px;
}

/*Футер*/

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 132px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright-button {
  padding-left: 6px;
}

.footer-copyright-button:hover path{
  fill: #81b3d2;
}

.footer-copyright-button:active path{
  fill: #bdbbbc;
}

/* Форма */

.search-hotels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 568px;
  padding: 55px;
}

.search-hotels p {
  margin: 0;
  padding: 0;
}

.search-hotels-input {
  border: none;
  background-color: #f2f2f2;
}

.search-hotels-arrival {
  padding-right: 18px;
}

.search-hotels-departure {
  padding-right: 15px;
}

.search-hotels-input#arrival,
.search-hotels-input#departure {
  padding-left: 13px;
}

.search-hotels-number {
  width: 38px;
  height:38px;
  margin: 0;
  padding: 0;
}

.search-hotels-adult {
  padding-right: 41px;
}

.search-hotels-child {
  padding-left: 53px;
  padding-right: 26px;
}

.search-hotels-sign {
  position: relative;
  width: 38px;
  height:38px;
  border: none;
  background-color: #f2f2f2;
}

.calendar {
  position: relative;
  background-color: transparent;
  border: none;
  left: 420px;
  top: -30px;
  fill: #a9a9a9;
}

.calendar:hover {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.number {
  font-size: 0;
  display: flex;
  align-items: center;
}

.search-hotels-sign.less::before {
  content: "";
  position: absolute;

  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  top: auto;
  left: 13px;
}

.search-hotels-sign.more::before {
  content: "";
  position: absolute;

  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  top: auto;
  left: 13px;
}

.search-hotels-sign.more::after {
  content: "";
  position: absolute;
  transform: rotate(90deg);

  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  top: auto;
  left: 13px;
}

.search-hotels-sign.less:hover::before,
.search-hotels-sign.more:hover::before,
.search-hotels-sign.more:hover::after {
  background-color: #000000;
}

.search-hotels-sign.less:active::before,
.search-hotels-sign.more:active::before,
.search-hotels-sign.more:active::after {
  background-color: #81b3d2;
}
